body{
	padding: 20px;
	background: url(../img/freepick.jpg);
	color: #222;
	text-align: center;
	font: 16px "Trebuchet MS",Arial, sans-serif;
}
h1,h2,p{
	margin: 0;
	font-weight: normal;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
p{
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
}
h1{
	font-size: 40px;
	color: #0000;
	letter-spacing: 1px;
}
h2{
	font-size: 35px;
	line-height: 1;
	color: #002455;
}
#rotulo{
	font: 16px "Trebuchet MS",Arial, sans-serif;
	font-weight: normal;
	text-align: center;
	width: 598px;
	float: center;
	height: 50px;
	padding: 5px 0;
	margin: 5px 0;
	background:#CCCCFF;
}
#general{
	width: 600px;
	margin: 0 auto;
	height: 600px;
	padding: 5px;
	text-align: left;
	background-color:#FFFFCC;
}
#principal{
	text-align: center;
	float: left;
	width: 450px;
	background:#CCCCFF;
	height: 450px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left:0;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#secundario{
	float: right;
	width: 146px;
	padding: 10px 0;
	height: 450px;
	margin: 5px 0;
	background:#FFCCCC;
}
.dos{
height: 73%;
width: 100%;

}
#secundario h2{
	font-size: 22px;
	color: #9E4A24;
}
#piedepagina{
	clear: both;
	height: 40px;
	background:#FFCCCC;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}